Source: freetype-py
Maintainer: Nicolas P. Rougier <Nicolas.Rougier@inria.fr>
Section: python
Priority: optional
Build-Depends: python3-all (>= 2.6.6-3), debhelper (>= 9), python3-setuptools-scm
Standards-Version: 4.3.0

Package: python3-freetype
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, libfreetype6
Description: Freetype python bindings
 Freetype python provides bindings for the FreeType library. Only the
 high-level API is bound.
 .
 Documentation available at:
 http://freetype-py.readthedocs.org/en/latest/
